my-n8n-workflows/stock-analysis-bot/workflow.json
{
  "name": "Stock Alert Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": null
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        -64
      ],
      "id": "schedule-trigger-id",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"stocks\": [\n    {\n      \"ticker\": \"TICKER_001\",\n      \"name\": \"WATCHLIST_ITEM_001\"\n    },\n    {\n      \"ticker\": \"TICKER_002\",\n      \"name\": \"WATCHLIST_ITEM_002\"\n    },\n    {\n      \"ticker\": \"TICKER_003\",\n      \"name\": \"WATCHLIST_ITEM_003\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -64
      ],
      "id": "set-stocks-id",
      "name": "ISU_SRT_CD"
    },
    {
      "parameters": {
        "url": "https://api.example.com/stock-data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "YOUR_STOCK_API_KEY"
            },
            {
              "name": "resultType",
              "value": "json"
            },
            {
              "name": "likeSrtnCd",
              "value": "={{ $json.ticker.split('.')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        -64
      ],
      "id": "http-request-id",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[Request] Analyze the following stock data and create a short investor-friendly report.\\n\\n[Data]\\n- Stock: {{ $json.stock_name }}\\n- Current Price: {{ $json.current_price }}\\n- Change Rate: {{ $json.change_rate }}\\n- Open/High/Low: {{ $json.open_price }}/{{ $json.high_price }}/{{ $json.low_price }}\\n- Volume/Trading Value: {{ $json.volume }}/{{ $json.trading_value }}\\n\\n[Instructions]\\n1. Summarize intraday momentum in one sentence.\\n2. Provide a short investment opinion in up to two sentences.\\n\\n* Output only plain text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        -64
      ],
      "id": "ai-agent-id",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        112
      ],
      "id": "gemini-model-id",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "stocks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -384,
        -64
      ],
      "id": "split-out-id",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "stock_name",
              "value": "={{ $json.response.body.items.item[0].itmsNm }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "current_price",
              "value": "={{ $json.response.body.items.item[0].clpr }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "open_price",
              "value": "={{ $json.response.body.items.item[0].mkp }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "high_price",
              "value": "={{ $json.response.body.items.item[0].hipr }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "low_price",
              "value": "={{ $json.response.body.items.item[0].lopr }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "change_rate",
              "value": "={{ $json.response.body.items.item[0].fltRt }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "volume",
              "value": "={{ $json.response.body.items.item[0].trqu }}",
              "type": "string"
            },
            {
              "id": "f8",
              "name": "trading_value",
              "value": "={{ $json.response.body.items.item[0].trPrc }}",
              "type": "string"
            },
            {
              "id": "f9",
              "name": "market_cap",
              "value": "={{ $json.response.body.items.item[0].mrktTotAmt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -64
      ],
      "id": "edit-fields-id",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        560,
        -64
      ],
      "id": "aggregate-id",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=[Stock Analysis Results]\n{{ $json.data.map(item => \"- \" + item.output.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '')).join('\\n') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        -64
      ],
      "id": "telegram-node-id",
      "name": "Send a text message",
      "webhookId": "webhookId",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "ISU_SRT_CD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ISU_SRT_CD": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Seoul"
  }
}